.search-form {
  grid-area: search-form;
  padding: 0 32px;
}

.search-form_minimized,
.search-form_typing {
  border-bottom: 1px solid rgba(#fff, 0.5);
}

.search-form_typing {
  background: #277d8f;
}
