.search {
  background: linear-gradient(180deg, #277d8f 22.92%, #278f89 100%);
  display: block;
  transition: height 0.2s;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  will-change: height;
}
